<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h4>Product List</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Poduct Name</th>
          <th scope="col">Unit</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let product of products; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveProdcuts(product, i)">
          <th scope="row">{{i}}</th>
          <td>{{product.name}}</td>
          <td>{{product.unit}}</td>
          <td>{{product.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <app-product-details
      [viewMode]="true"
      [currentProduct]="currentProduct"
    ></app-product-details>
  </div>
</div>
